.body___hRld0 {
  display: flex;
  color: #575757;
  font-family: "PT Serif", serif;
  font-size: 16px; }

.body___1GEW8 {
  display: flex;
  color: #575757;
  margin: 0;
  font-family: "PT Serif", serif;
  font-size: 12px; }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased; }

.wrapper___3PFEl {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  flex-direction: column; }

.content____q_V_ {
  display: flex;
  flex-direction: column;
  margin: 0 20px; }

.title___q5ktf {
  font-family: "PT Serif", serif;
  color: #575757;
  margin: 70px 0 0 0;
  font-size: 50px;
  text-align: center; }

.subTitle___Yt65Y {
  font-family: "PT Serif", serif;
  color: #575757;
  margin: 30px 0 0 0;
  font-size: 30px;
  text-align: center; }

.technologies___1I-kr {
  display: flex;
  justify-content: center; }

.techCopy___KrFYb {
  text-align: center; }

.workedWith___1naXg {
  display: flex; }

.footer___26WKH {
  display: flex;
  border-top: 3px solid #575757;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 12px;
  margin-bottom: 20px; }

.attribution___3SntY {
  margin-bottom: 4px; }
  .attribution___3SntY a {
    color: #575757;
    padding: 0 4px; }

.footerCopy___1idC8 {
  display: flex; }

.getInTouch___3aDvr {
  display: flex;
  justify-content: center;
  margin-top: 30px; }

.emailLink___2VKFZ {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #575757; }
  .emailLink___2VKFZ:hover {
    text-decoration: underline; }
  .emailLink___2VKFZ:active {
    position: relative;
    top: 1px; }

.businessCard___1OwVj {
  width: 140px; }

