@import '../../variables';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.title {
  font-family: $base-font;
  color: $silver;
  margin: 70px 0 0 0;
  font-size: 50px;
  text-align: center;
}

.subTitle {
  font-family: $base-font;
  color: $silver;
  margin: 30px 0 0 0;
  font-size: 30px;
  text-align: center;
}

.technologies {
  display: flex;
  justify-content: center;
}

.techCopy {
  text-align: center;  
}

.workedWith {
  display: flex;
}

.footer {
  display: flex;
  border-top: 3px solid $silver;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 12px;
  margin-bottom: 20px;
}

.attribution {
  margin-bottom: 4px;

  a {
    color: $silver;
    padding: 0 4px;
  }
}

.footerCopy {
  display: flex;
}

.getInTouch {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.emailLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $silver;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

.businessCard {
  width: 140px;
}