.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.yearDivider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  height: 1px;
  width: 100%;
  background-color: black;
}

.year {
  font-size: 30px;
  display: flex;
  padding: 0 16px;
  justify-content: center;
}

.slider {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
  overflow: scroll;
}

.yearWrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 8px;
}

.year {
  font-size: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  max-height: 80px;
  max-width: 280px;
}